/* Style sheet for the Portfolio cards */

/*  div with the classes for each part of the "polaroid style" image look                                                          */
/*  as well as the styles for the table containing the "polaroid projects"                                                         */ 
/*  Folliowing a W3 School example for the styling link -> https://www.w3schools.com/css/tryit.asp?filename=trycss_ex_images_card  */ 

div.polaroid {
  width: 100%;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 25px;
}

div.container {
  text-align: center;
  padding: 10px 20px;
}

table, th{
      margin: auto;
}

td {
    padding-left: 10px;
    padding-right: 10px;
}

a {
    text-decoration: none;
}

a:visited {
    color: black;
}

a:link {
    color: black;
}

img:hover {
    background-color: black;
    opacity: 75%;
}